body {
    background-color: rgb(22, 73, 240);
    color: black;
    font-size: 30px;
}

button {
    box-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #ffa,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #ffa;
    border-radius:100%;
    font-size: 20px;
    border: 2px solid #ffff;
    background-color: #6d98f3;
    width: auto;
    height: auto;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: solid;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #ffa,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #ffa;
}